.banner {
  height: 722px;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("../../assets/hero-background.jpg");
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  display: grid;
  place-items: center;
  color: white;

  .banner-header {
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;

    h2 {
      margin-top: 2rem;
    }
  }
}
